{% extends 'base.html' %}
{% block content %}

<style> 
body{
  background-image: url('../static/image/bg_1.jpg');
}
  input[type=text] {
    width: 50%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
  }
  input[type=date] {
    width: 50%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
  }

  #product1{
    text-align:center;
}

#product1 .pro-container{
    display:flex; 
    padding:20px;
    flex-wrap:wrap;
    justify-content: space-between;
    
}

#product1 .pro{
    width:23%;
    min-width:250px;
    padding:10px 12px;
    border:1px solid #cce7d0;
    border-radius:25px;
    cursor:pointer;
    margin:15px 0;
    transition:0.2s ease;
    position:relative;
    background-color: rgb(253, 249, 249);
    
}

#product1 .pro a{
    text-decoration:none;
}

#product1 .pro:hover{
    box-shadow:20px 20px 30px rgba(0,0,0.03,0.08);  
}

#product1 .pro img{
    width:100%;
    border-radius:20px;
}

#product1 .pro .des{
    text-align:start;
    padding:10px 0;
}

#product1 .pro .des span{
    color:#606063;
    font-size:20px;
}

#product1 h2{
    color:#8490B8;
}

#product1 p{
    font-size:18px;
}

#product1 .pro .des h5{
    padding-top:7px;
    color:#1a1a1a;
    font-size:14px;
}

#product1 .pro .des h4{
    padding-top:7px;
    font-size:15px;
    font-weight:700;
    color:#E69500;
}

#product1 .pro .cart{
    width:40px;
    height:40px;
    line-height:40px;
    border-radius:50px;
    background-color:#e8f6ea;
    color:#088178;
    border:1px solid #cce7d0;
    position:absolute;
    bottom:20px;
    right:10px;
}

  </style>
<form method>
    
  <div class="form-group">
    <label for="exampleInputEmail1"></label>
   <center> <input type="text" class="form-control" name="w" id="Search" placeholder="Leaving From:">
    <center> <input type="text" class="form-control" name="x" id="Search" placeholder="Going To:">
    <center> <input type="date" class="form-control" name="q" id="Search" placeholder="Date Of Departure:">
      
      
    </select>
   
  </div>
    
   <center><button type="submit" class="btn btn-primary" style="background-color:#00CA4C; width: 50%;">    Search For Bus        </button> 
  </form>
  
  <!-- {% for bus in buses %} -->
 <!-- <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{ bus.images.url }}" class="img-fluid rounded-start" alt="images">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{bus.busname}}</h5>
          <p class="card-text">{{bus.date}}</p>
          <p class="card-text">{{bus.source}}</p>
          <p class="card-text">{{bus.startingtime}}</p>
          <p class="card-text">{{bus.bustype}}</p>
          <p class="card-text">{{bus.count}}</p>
          <p class="card-text">{{bus.price}}</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          <a href="{% url 'bus_individuals'  bus.id %}" class="btn btn-primary">Details</a>
        </div>
      </div>
    </div>
  </div>-->
          


  <!-- <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{ bus.images.url }}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{bus.busname}}</h5>
      <p class="card-text">{{bus.date}}</p>
      <p class="card-text">{{bus.source}}</p>
      <p class="card-text">{{bus.startingtime}}</p>
      <p class="card-text">{{bus.bustype}}</p>
      <p class="card-text">{{bus.price}}</p>

      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      <a href="{% url 'bus_individuals'  bus.id %}" class="btn btn-primary">Details</a>
    </div>
  </div>
  {% endfor %} -->

  <section id="product1">
    <div class="pro-container">
      {% for bus in buses %}
        <div class="pro">
            <a href="{% url 'bus_individuals' bus.id %}">
              <img src="{{ bus.image.url }}" alt="">
            <div class="des" style="text-align: center;">
                <span>{{bus.busname}}</span>
                <h5>{{bus.date}}</h5>
                <h4>Leaving From:{{bus.source}}</h4>
                <h4>Going To:{{bus.destination}}</h4>
                <h4>{{bus.startingtime}}</h4>
                <h4>{{bus.bustype}}</h4>
                <h4>₹{{bus.price}}</h4>
            </div>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p></a>
        </div>
        {% endfor %}
    </div>
</section>


  {% endblock %}
 