{% extends 'base.html' %}
{% block content %}

<style> 
  input[type=text] {
    width: 50%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
  }
  .box {
    width: 634px;
    height: 55px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
        
      }
  </style>


<form method>
    
    <div class="form-group">
      <label for="exampleInputEmail1"></label>
     <center> <input type="text" class="form-control" name="w" id="Search" placeholder="Search City or Location">
      <center> <select name="q" class="box">
        <option selected disabled="true">Select Package Type</option>
        <option>Family</option>
        <option>Group</option>
        <option>Honeymoon</option>
        
      </select>
     
    </div>
   
    
   <center><button type="submit" class="btn btn-primary">Search For Packages</button>
  </form>
  
  {% for result in new_package %}
  <!--<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{result.images.url }}" class="img-fluid rounded-start" alt="images">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{result.packagename}}</h5>
          <p class="card-text">{{result.packagetype}}</p>
          <p class="card-text">{{result.startingdate}}</p>
          <p class="card-text">{{result.rate}}</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          <a href="{% url 'package_individuals' result.id %}" class="btn btn-primary">Details</a>
        </div>
      </div>
    </div>
  </div>-->



  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{ result.image.url }}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{result.packagename}}</h5>
      <p class="card-text">{{result.packaetype}}</p>
      <p class="card-text">{{result.packagedetails}}</p>
      <p class="card-text">{{result.rate}}</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      <a href="{% url 'package_individuals' result.id %}" class="btn btn-primary">Details</a>
    </div>
  </div>
  {% endfor %}

  {% endblock %}
    
 